@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-top {
      box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    }
    .ar-1 {
      aspect-ratio: 1/1;
    }
    .ar-16\/9 {
      aspect-ratio: 16/9;
    }
    .ar-3\/4 {
      aspect-ratio: 3/4;
    }
}


input[type="checkbox"] {
  background-color: red;
  border: 1px solid red;
}

@layer components {
  .flex-centered {
      @apply flex items-center justify-center;
  }
  .nav-container {
    @apply fixed flex
        h-[3.2rem] w-full 
        bg-[#2A2A2A] text-white
        text-[0.7rem]
        z-40 select-none;
  }

  .nav-menu {
    @apply fixed md:static top-0 right-0 
        flex flex-col md:flex-row 
        h-screen md:h-auto
        w-[90%] md:w-full
        justify-between gap-5
        pt-14 md:pt-0 pl-0 md:pl-5 flex-grow
        bg-[#2A2A2A]
        transition-transform duration-300;
  }

  .nav-menu-list {
    @apply flex flex-col md:flex-row 
        uppercase 
        text-xs md:text-[10.5px]  
        divide-y md:divide-none divide-white/5;
  }

  .nav-second-menu {
    @apply
        fixed bottom-0 right-0  md:static 
        flex flex-col md:flex-row 
        text-[8.75px]
        w-[90%] md:w-auto 
        border-t md:border-none border-white/10 
        h-[6.5rem] md:h-auto;
  }

  .signin-button {
    @apply h-full w-2/3 md:w-auto 
        opacity-70 hover:opacity-100 
        px-5 gap-5 md:gap-3 
        tracking-widest font-bold
        border-r border-white/10 md:border-none;
  }

  .get-epic-games-button {
    @apply flex items-center justify-center 
        px-6 pt-1 md:pt-0
        bg-[#007DFC]  font-bold
        bg-opacity-90 hover:bg-opacity-100 
        h-full tracking-widest;
  }
}

body {
  background-color: #121212;
}


